<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to EasyLoadBoard.com!!</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://kit.fontawesome.com/eb2c2d28d2.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="nav_bar">
      <div class="left_nav">
        <h2><a href="/carrier/dashboard">{{cap(carrier.company_name)}}</a></h2>
      </div>
      <ul class="right_nav">
        <li><a href="/carrier/dashboard">Home</a></li> 
        <li><a href="/carrier/add_truck">Post Trucks</a></li> 
        <li><a href="/find_loads">Find Loads</a></li> 
        {% if session['user_id'] %}
            <li><a href="/logout">Logout</a></li>
        {% else %}
            <li><a href="/login">Login</a></li>
        {% endif %}
      </ul>
    </header>

    <main class="main_background">
      <div class="body_div white_bg">
        <h1>Post your truck</h1>
      </div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="body_div flashes">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="removeDiv(this)">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
      <div class="body_div">
        <br><h3 class="red">* are required</h3><br>
        <form class="form_inline" action="/carrier/{{truck.truck_id}}/update" method="post">
          <div class="truck_form">
            <div class="radius_div">
              <label for="origin_city">Origin City <span class="red">*</span></label>
              <input type="text" name="origin_city" id="origin_city" value="{{truck.origin_city}}">
            </div>
            <div class="radius_div">
              <label for="origin_state">Origin State  <span class="red">*</span></label>
              <select name="origin_state" id="origin_state" >
                <option selected value="{{truck.origin_state}}" >{{truck.origin_state|upper}}</option>
                {% for s in states %}
                  <option value="{{s}}">{{s}}</option>
              {% endfor %}
              </select>
            </div>
            <div class="radius_div">
              <label for="origin_radius">Origin Radius </label>
              <input type="text" name="origin_radius" id="origin_radius" value="{{truck.origin_radius}}">
            </div>
            <div class="radius_div">
              <label for="destination_city">Destination City</label>
              <input type="text" name="destination_city" id="destination_city" value="{{truck.destination_city}}">
            </div>
            <div class="radius_div">
              <label for="destination_state">Destination State <span class="red">*</span></label>
              <select name="destination_state" id="destination_state">
                <option selected value="{{truck.destination_state}}" >{{truck.destination_state|upper}}</option>
              {% for s in states %}
                <option value="{{s}}">{{s}}</option>
              {% endfor %}
              </select>
            </div>
            <div class="radius_div">
              <label for="destination_radius">Destination Radius</label>
              <input type="text" name="destination_radius" id="destination_radius" value="{{truck.destination_radius}}">
            </div>
          </div>
          <div >
            <label for="truck_number">Truck reference number</label>
            <input type="text" name="truck_number" id="truck_number" value="{{truck.truck_number}}">
            <label for="equipment_type">Equipment type <span class="red">*</span></label>
            <select name="equipment_type" id="equipment_type">
              <option selected value="{{truck.equipment_type}}">
                {% if truck.equipment_type|int == 1 %}
                Van
                {% elif truck.equipment_type|int == 2 %}
                Reefer
                {% elif truck.equipment_type|int == 3 %}
                Flatbed
                {% endif %}
              </option>
              <option   value="1" >Van</option>
              <option   value="2" >Reefer</option>
              <option   value="3" >Flatbed</option>
            </select>
            <label for="weight">Weight able to haul<span class="red">*</span></label>
            <input type="number" name="weight" id="weight" value="{{truck.weight}}">
            <label for="length">Trailer Length <span class="red">*</span></label>
            <select name="length" id="length">
              <option selected value="{{truck.length}}">
                {% if truck.length|int == 1 %}
                48
                {% elif truck.length|int == 2 %}
                53
                {% elif truck.length|int == 3 %}
                Other
                {% endif %}
              </option>
              <option value="1">48</option>
              <option value="2">53</option>
              <option value="3">Other</option>

            </select>
            <label for="rate_per_mile">Prefered rate per mile</label>
            <input type="text" name="rate_per_mile" id="rate_per_mile" value="{{truck.rate_per_mile}}">
          </div>
          <br>
          <div>
            <button>Submit</button>
          </div>
        </form><br><br>
        {% if "broker_id" in session or "shipper_id" in session %}
            <a class="green" href="/find_trucks">
              <button class="button-85" role="button">Back</button>
            </a>
          {% elif 'carrier_id' in session %}
            <a class="green" href="/carrier/dashboard">
              <button class="button-85" role="button">Back</button>
            </a>
          {% endif %}
          <br><br>
      </div>
    </main>

    <footer id="footer ">
      <nav id="nav_bar_footer" class="nav_bar ">
        <div class="left_nav">
          <h2><a href="/">EasyLoadBoard.com</a></h2>
        </div>
        <ul class="right_nav">
          <li>Contact me<i class="fa-solid fa-person-walking-arrow-right"></i></li>
          <li><a href="mailto:laz@thisislaz.net?&subject=Hello!&body=Say hello!"><i class="fa-solid fa-envelope"></i></a></li> 
          <li><a href="https://www.instagram.com/itsthejourneylak" target="_blank"><i class="fa-brands fa-instagram"></i></a></li> 
          <li><a href="https:/www.linkedin.com/in/laz-alvarez/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li> 
          <li><a href="https:/github.com/thisislaz" target="_blank"><i class="fa-brands fa-github"></i></a></li>
        </ul>
      </nav>
    </footer>


</body>
<script src="/static/js/script.js"></script>
</html>